html, body {
    margin: 0;
    padding: 0; 
    height: 100vh;    /* altura igual a la ventana visible */
    overflow: hidden;
    background-color: rgb(195, 205, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}

    
.all_content{
    background-color: white;
    border-radius: 15px;
    width: 98vw;
    height: 95vh;
    transition: margin 0.3s ease-in, border-radius 0.3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}
.all_content::-webkit-scrollbar {display: none;}
    
/* --------- HEADER ---------- */
header {
    border: 0px solid red;
    border-radius: 15px;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: nowrap;
}

/* -- Logo -- */
.logo_container {
    border: 0px solid blue;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
    min-width: 160px;
}
.logo_container p {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.logo{
    background-color: rgb(17, 72, 255);
    min-width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* -- Middle Zone Header -- */
.middle_zone_header {
    border: 0px solid red;
    margin-right: 0px;
    gap: 100px;
    display: flex;
}
.middle_zone_header button {
    border: none;
    background-color: transparent;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    transition: color 0.1s ease, transform 0.2s ease-in-out;
    cursor: pointer;
}
.features_btn:active {transform: scale(0.95);}
.about_us_btn:active {transform: scale(0.95);}

/* -- Download Stores Container --*/
.download_in_header {
    display: flex;
    flex-direction: row;
    
    margin-right: 50px;

    border: 0px solid yellow;
    gap: 30px;
    
}
.download_in_header button{
    width: 220px;
    height: 50px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    gap: 10px;
    padding: 0px 20px;

    background-color: rgb(236, 236, 236);
    border: 0px solid rgb(187, 187, 187);
    border-radius: 15px;

    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;

    transition: all 0.3s ease-out;
}
/*Download Buttons Hover & Actives*/
.get_it_on_google_play_btn:hover {background-color:  rgb(187, 187, 187);}
.download_in_apple_store_btn:hover {background-color:  rgb(187, 187, 187);}
.get_it_on_google_play_btn:active {background-color:  rgb(201, 201, 201);}
.download_in_apple_store_btn:active {background-color:  rgb(201, 201, 201);}


.download_in_header img {width: 25px;}
.download_in_apple_store_img{margin-bottom: 5px;} /*Apple logo height adjust*/

/* --- Width Control --- */
.download_in_header button p {transition: all 0.1s ease-out;}
@media (max-width: 1200px) { /*Download buttons width reduction*/
    .download_in_header button p {color: transparent;}
    .download_in_header button {width: 50px; padding: 0px 10px 0px 0px;}
    .download_in_header button:nth-of-type(2) {padding: 3px 12px 0px 0px;}
} 
@media (max-width: 800px) { /*About US Button Inactivation */
    .middle_zone_header button:nth-of-type(2) {display: none; }
}




/* -------------- MAIN SECTION --------------- */
main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 10px;

    border: 0px solid red;
}
/* ----- HERO SECTION ----- */
.hero {
    width: 95%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 20px;
    border: 0px solid red;
}

/* Container --> Tittle, Description & Image */
.tittle_img {
    width: 100%;
    border: 0px solid yellow;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    box-sizing: border-box;
}
@media (min-width: 2050px) {.tittle_img { gap: 500px;} }/*Tittle <--> img distnace corrction with wide screens*/
.tittle_description {
    border: 0px solid black;
    max-width: 555px;
    margin: 20px 0px 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1;
}
.tittle_description h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-wrap: nowrap;
}
.highlight {color: blue;}
.tittle_description p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;  
    color: rgb(105, 105, 105);
    border-radius: 10px;
    text-wrap: nowrap;
}
.hero_car_img {width: 850px; transition: transform 0.3s ease-out;}
@media (max-width: 1400px) { .hero_car_img {transform: translateX(-115px);}
}

/* -- Badges -- */
.badges {
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    
    border: 0px solid black;
}
.badge_hover_background {
    height: 100%;
    width: 25%;
}
.badge {
    min-height: 100%;
    height: auto;
    width: 25%;

    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;

    background-color: rgb(230, 230, 230);
    transition: all 0.2s ease-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
@media (max-width: 1200px) {.badges {height: 250px;} }
@media (max-width: 800px) {
    .badges {height: 350px;} 
    .tittle_img {
        flex-direction: column;
    }
} /*PHONE MEDIA  --> UPDATE LATER */

.badge img {width: 50px; margin: 20px 0px 10px 0px; }


.badge h3 {
    font-weight: 600;
    font-size: 18px;
    color: rgb(68, 68, 68);
    font-family: 'Poppins', sans-serif;

    text-align: center;
    margin: 0;
}
.badge p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;  
    font-size: 15px;
    color: rgb(105, 105, 105);
    text-align: center;
    margin: 0;;
}


.badge:hover {
    transform: scale(1.01);
    background-color: rgb(218, 218, 218);
}