html, body {
    margin: 0;
    padding: 0; 
    height: 100vh;    /* altura igual a la ventana visible */
    overflow: hidden;
    background-color: rgb(188, 188, 226);
    display: flex;
    align-items: center;
    justify-content: center;}
    
.all_content{
    background-color: white;
    border-radius: 15px;
    width: 98vw;
    height: 97vh;
}
    
/* --------- HEADER ---------- */
header {
    border: 0px solid red;
    border-radius: 15px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: nowrap;
}

/* -- Logo -- */
.logo_container {
    border: 0px solid blue;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
    min-width: 160px;
}
.logo_container p {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.logo{
    background-color: rgb(17, 72, 255);
    min-width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* -- Middle Zone Header -- */
.middle_zone_header {
    border: 0px solid red;
    margin-right: 0px;
    gap: 100px;
    display: flex;
}
.middle_zone_header button {
    border: none;
    background-color: transparent;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    transition: color 0.1s ease, transform 0.2s ease-in-out;
    cursor: pointer;
}
.features_btn:active {transform: scale(0.95);}
.about_us_btn:active {transform: scale(0.95);}

/* -- Download Stores Container --*/
.download_in_header {
    display: flex;
    flex-direction: row;
    
    margin-right: 50px;

    border: 0px solid yellow;
    gap: 30px;
    
}
.download_in_header button{
    width: 220px;
    height: 50px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    gap: 10px;
    padding: 0px 20px;

    background-color: rgb(236, 236, 236);
    border: 0px solid rgb(187, 187, 187);
    border-radius: 15px;

    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;

    transition: all 0.3s ease-out;
}
/*Download Buttons Hover & Actives*/
.get_it_on_google_play_btn:hover {background-color:  rgb(187, 187, 187);}
.download_in_apple_store_btn:hover {background-color:  rgb(187, 187, 187);}
.get_it_on_google_play_btn:active {background-color:  rgb(201, 201, 201);}
.download_in_apple_store_btn:active {background-color:  rgb(201, 201, 201);}


.download_in_header img {width: 25px;}
.download_in_apple_store_img{margin-bottom: 5px;} /*Apple logo height adjust*/

/* --- Width Control --- */
.download_in_header button p {transition: all 0.1s ease-out;}
@media (max-width: 1200px) { /*Download buttons width reduction*/
    .download_in_header button p {color: transparent;}
    .download_in_header button {width: 50px; padding: 0px 10px 0px 0px;}
    .download_in_header button:nth-of-type(2) {padding: 3px 12px 0px 0px;}
} 
@media (max-width: 800px) { /*About US Button Inactivation  ---- All Content (Container) Set Max Width-Height*/
    .middle_zone_header button:nth-of-type(2) {display: none; }
    .all_content {
        width: 100vw;
        height: 100vh;
        border-radius: 0;

        transition: width 0.3s ease-in, height 0.3s ease-in;
    }
}