html, body {
    margin: 0;
    padding: 0; 
    height: 100vh;    /* altura igual a la ventana visible */
    overflow: hidden;
    background-color: rgb(195, 205, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.all_content{
    background-color: white;
    border-radius: 15px;
    width: 100vw;
    margin: 20px 10px 0px 10px;
    height: 100vh;
    transition: margin 0.3s ease-in, border-radius 0.3s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
    
/* --------- HEADER ---------- */
header {
    border: 0px solid red;
    border-radius: 15px;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: nowrap;
}

/* -- Logo -- */
.logo_container {
    border: 0px solid blue;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
    min-width: 160px;
}
.logo_container p {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.logo{
    background-color: rgb(17, 72, 255);
    min-width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* -- Middle Zone Header -- */
.middle_zone_header {
    border: 0px solid red;
    margin-right: 0px;
    gap: 100px;
    display: flex;
}
.middle_zone_header button {
    border: none;
    background-color: transparent;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    transition: color 0.1s ease, transform 0.2s ease-in-out;
    cursor: pointer;
}
.features_btn:active {transform: scale(0.95);}
.about_us_btn:active {transform: scale(0.95);}

/* -- Download Stores Container --*/
.download_in_header {
    display: flex;
    flex-direction: row;
    
    margin-right: 50px;

    border: 0px solid yellow;
    gap: 30px;
    
}
.download_in_header button{
    width: 220px;
    height: 50px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    gap: 10px;
    padding: 0px 20px;

    background-color: rgb(236, 236, 236);
    border: 0px solid rgb(187, 187, 187);
    border-radius: 15px;

    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;

    transition: all 0.3s ease-out;
}
/*Download Buttons Hover & Actives*/
.get_it_on_google_play_btn:hover {background-color:  rgb(187, 187, 187);}
.download_in_apple_store_btn:hover {background-color:  rgb(187, 187, 187);}
.get_it_on_google_play_btn:active {background-color:  rgb(201, 201, 201);}
.download_in_apple_store_btn:active {background-color:  rgb(201, 201, 201);}


.download_in_header img {width: 25px;}
.download_in_apple_store_img{margin-bottom: 5px;} /*Apple logo height adjust*/

/* --- Width Control --- */
.download_in_header button p {transition: all 0.1s ease-out;}
@media (max-width: 1200px) { /*Download buttons width reduction*/
    .download_in_header button p {color: transparent;}
    .download_in_header button {width: 50px; padding: 0px 10px 0px 0px;}
    .download_in_header button:nth-of-type(2) {padding: 3px 12px 0px 0px;}
} 
@media (max-width: 800px) { /*About US Button Inactivation  ---- All Content (Container) Set Max Width-Height*/
    .middle_zone_header button:nth-of-type(2) {display: none; }
    .all_content {
        margin: 0;
        border-radius: 0px;
    }
}

/* -------------- MAIN SECTION --------------- */
main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 10px;

    border: 0px solid red;
}
/* ----- HERO SECTION ----- */
.hero {
    width: 95%;
    height: 600px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 20px;

    border: 0px solid red;
}

/* Container --> Tittle, Description & Image */
.tittle_img {
    width: 100%;
    border: 0px solid yellow;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.tittle_description {
    border: 0px solid black;
    max-width: 555px;
    margin: 20px 0px 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.tittle_description h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.highlight {color: blue;}
.tittle_description p {
    font-weight: 450;
    font-size: 13px;

    color: rgb(83, 83, 83);
    font-family: 'Poppins', sans-serif;
}
.hero_car_img {width: 850px;}

/* -- Badges -- */
.badges {
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    
    border: 0px solid black;
}
.badge {
    height: 100%;
    width: 350px;

    border-radius: 10px;
    background-color: rgb(223, 223, 223);
    transition: all 0.2s ease-out;
}
.badge:hover {
    transform: scale(1.01);
    background-color: rgb(218, 218, 218);
}
