/* GENERAL STRUCTURE */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0; 
    overflow: hidden;

    /* Flexbox Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Aesthetics */
    background-color: rgb(195, 205, 209);
}

.all_content {
    /* Dimensions & Box Model */
    width: 98vw;
    height: 95vh;
    box-sizing: border-box;
    
    /* Flexbox Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* Overflow */
    overflow-y: auto;
    overflow-x: auto;

    /* Aesthetics */
    background-color: white;
    border-radius: 15px;
    
    /* Animations & Transitions */
    transition: margin 0.3s ease-in, border-radius 0.3s ease-in;
}

.all_content::-webkit-scrollbar {
    /* Dimensions */
    display: none;
}
    
/* --------- HEADER ---------- */
header {
    /* Dimensions & Margin */
    width: 100%;
    height: 100px;
    margin-top: 10px;

    /* Flexbox Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Aesthetics & Typography */
    border: 0px solid red;
    border-radius: 15px;
    text-wrap: nowrap;
}

/* -- Logo -- */
.logo_container {
    /* Dimensions & Margin */
    min-width: 160px;
    margin-left: 50px;
    
    /* Flexbox Layout */
    display: flex;
    align-items: center;
    gap: 10px;

    /* Aesthetics */
    border: 0px solid blue;
}

.logo_container p {
    /* Typography & Color */
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.logo {
    /* Dimensions */
    min-width: 40px;
    height: 40px;

    /* Aesthetics */
    background-color: rgb(17, 72, 255);
    border-radius: 10px;
}

/* -- Middle Zone Header -- */
.middle_zone_header {
    /* Dimensions & Margin */
    margin-right: 0px;
    
    /* Flexbox Layout */
    display: flex;
    gap: 100px;

    /* Aesthetics */
    border: 0px solid red;
}

.middle_zone_header button {
    /* Aesthetics & Cursor */
    background-color: transparent;
    border: none;
    cursor: pointer;

    /* Typography & Color */
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;

    /* Animations & Transitions */
    transition: color 0.1s ease, transform 0.2s ease-in-out;
}

.features_btn:active { transform: scale(0.95); }
.about_us_btn:active { transform: scale(0.95); }

/* -- Download Stores Container --*/
.download_in_header {
    /* Dimensions & Margin */
    margin-right: 50px;
    
    /* Flexbox Layout */
    display: flex;
    flex-direction: row;
    gap: 30px;

    /* Aesthetics */
    border: 0px solid yellow;
}

.download_in_header button {
    /* Dimensions & Box Model */
    width: 220px;
    height: 50px;
    padding: 0px 20px;

    /* Flexbox Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    /* Aesthetics */
    background-color: rgb(236, 236, 236);
    border: 0px solid rgb(187, 187, 187);
    border-radius: 15px;

    /* Typography & Color */
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;

    /* Animations & Transitions */
    transition: all 0.3s ease-out;
}

/* Download Buttons States */
.get_it_on_google_play_btn:hover { background-color: rgb(187, 187, 187); }
.download_in_apple_store_btn:hover { background-color: rgb(187, 187, 187); }
.get_it_on_google_play_btn:active { background-color: rgb(201, 201, 201); }
.download_in_apple_store_btn:active { background-color: rgb(201, 201, 201); }

.download_in_header img { 
    /* Dimensions */
    width: 25px; 
}

.download_in_apple_store_img { 
    /* Dimensions */
    margin-bottom: 5px; 
}

/* --- Width Control (Responsive) --- */
.download_in_header button p { 
    /* Transitions */
    transition: all 0.1s ease-out; 
}

@media (max-width: 1200px) {
    .download_in_header button p { color: transparent; }
    .download_in_header button { width: 50px; padding: 0px 10px 0px 0px; }
    .download_in_header button:nth-of-type(2) { padding: 3px 12px 0px 0px; }
} 

@media (max-width: 800px) {
    .middle_zone_header button:nth-of-type(2) { display: none; }
}

/* -------------- MAIN SECTION --------------- */
main {
    /* Dimensions & Margin */
    width: 100%;
    height: auto;
    margin-top: 10px;

    /* Flexbox Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    /* Aesthetics */
    border: 0px solid  blueviolet;
}

/* ----- HERO SECTION ----- */
.hero {
    /* Dimensions & Margin */
    width: 95%;
    height: 100%;
    margin-top: 20px;
    
    /* Flexbox Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* Aesthetics */
    border: 0px solid blue;
}

/* Container --> Tittle, Description & Image */
.tittle_img {
    /* Dimensions & Box Model */
    width: 100%;
    box-sizing: border-box;

    /* Flexbox Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    /* Aesthetics */
    border: 0px solid yellow;
}

@media (min-width: 2050px) { 
    .tittle_img { gap: 500px; } 
}

.tittle_description {
    /* Dimensions, Margin & Layering */
    max-width: 555px;
    margin: 20px 0px 0px 5px;
    z-index: 1;

    /* Flexbox Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    /* Aesthetics */
    border: 0px solid black;
}

.tittle_description h1 {
    /* Margin & Typography */
    margin-bottom: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    text-wrap: nowrap;
}

.highlight { 
    /* Typography & Color */
    color: blue; 
}

.tittle_description p {
    /* Aesthetics & Typography */
    border-radius: 10px;
    color: rgb(105, 105, 105);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;  
    text-wrap: nowrap;
}

.hero_car_img {
    /* Dimensions */
    width: 850px; 
    
    /* Animations & Transitions */
    transition: transform 0.3s ease-out;
}

@media (max-width: 1400px) { 
    .hero_car_img { transform: translateX(-115px); }
}

/* -- Badges -- */
.badges {
    /* Dimensions */
    width: 100%;
    min-height: 200px;

    /* Flexbox Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    
    /* Aesthetics */
    border: 0px solid black;
}

/* Hide duplicates on desktop */
.badge:nth-child(n+5) { display: none; } 

.badge_hover_background {
    /* Dimensions */
    width: 25%;
    height: 100%;
}

.badge {
    /* Dimensions & Box Model */
    width: 25%;
    height: auto;
    min-height: 100%;
    padding: 10px;
    box-sizing: border-box;

    /* Flexbox Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* Aesthetics */
    background-color: rgb(230, 230, 230);
    border-radius: 10px;

    /* Animations & Transitions */
    transition: all 0.2s ease-out;
}

@media (max-width: 1200px) { .badges { height: 250px; } }

.badge img {
    /* Dimensions & Margin */
    width: 50px; 
    margin: 20px 0px 10px 0px; 
}

.badge h3 {
    /* Margin & Typography */
    margin: 0;
    color: rgb(68, 68, 68);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.badge p {
    /* Margin & Typography */
    margin: 0;
    color: rgb(105, 105, 105);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;  
    font-size: 15px;
    text-align: center;
}

.badge:hover {
    /* Aesthetics & Transformations */
    background-color: rgb(218, 218, 218);
    transform: scale(1.01);
}

/* -- UI PRESENTATION -- */
.ui_container {
    border: 0px solid black;
    width: 100%;
    height: 700px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-image: url("/img/hero/hero_app_ui_background.jpg");
    background-size: cover;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;

    overflow: hidden;
    transition: height 0.3s ease-out;
}
.ui_tittle {
    width: 900px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    transition: all 0.3s ease-out;

}
.learn_more_btn {
    /*button style*/
    background-color: white ;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    /*text style*/
    color: blue;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;  
    font-size: 15px;
    transition: all 0.3s ease-out;
}
.learn_more_btn:hover {transform: scale(1.1);}
.learn_more_btn:active {transform: scale(1);}

.app_ui_img {
    margin-top: 60px;
    width: 85%; 
    position: relative;
    top: 2%;
    transition: all 0.3s ease-out;

}
.app_ui_img :nth-child(2) {
    display: none;
}    
.app_ui_img :nth-child(1) {
    width: 100%;
    object-fit: cover;
    border: 10px solid black;
    border-radius: 30px;
}    
@media (max-width: 1300px) {
    .ui_container {
        height: 500px;
    }
    .app_ui_img {
        transform: translateY(-40px);
    }
    .ui_tittle{
        transform: translateY(-20px);
        margin-bottom: 10px;
    }
}
    

/* ------ FEATURES ---- */
.features { /* All features container */
    border: 0px solid red;
    padding: 0px 50px;
    box-sizing: border-box;
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 300px;
}
.features input {
    display: none;
}
/* -- features target -- */
.features_target_container {
    border: 0px solid black;
    display: flex;
    max-height: 200px;
    padding: 20px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    gap: 15px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 8%, black 92%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 8%, black 92%, transparent 100%);
}
.features_target_container::-webkit-scrollbar {display: none}


.feature {
    user-select: none;
    cursor: pointer;
    flex-shrink: 0;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 15px;
    /*Text*/
    color: black;
    text-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    transition: all 0.2s ease-out;
}
.feature_img {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 15px;
}
.feature_img img {
    width: 100%;
    border-radius: 15px;
}
.feature:hover {transform: scale(1.05);}
.feature:active {transform: scale(1);}


.features input[type="radio"]:checked + label {
    background-color: rgb(153, 153, 153);
    transform: scale(1.03);
}

/* -- features info --*/
.features_info_container {
    border: 0px solid rgb(155, 155, 155);
    margin-left: 50px;
    flex-grow: 1;
    height: 450px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 15px;
    position: relative;
}

.features_info_background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#feature1:checked ~ .feature1_info {
    position: absolute;
    top: 24px;
    left: 22px;
    background: rgba(128, 128, 128, 0.4);
    backdrop-filter: blur(20px); 
    width: 95%;
    height: 90%;
    border: 2px solid rgba(230, 230, 230, 0.4);
    border-radius: 15px;
    display: block; /* muy importante si estaba hidden */
}





































/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 1000px) {
/* Hero Section Adjustments */
.tittle_img { align-items: center; }
    
.hero_car_img { 
    width: 500px; 
    transform: translateX(0px); 
}

.tittle_description {
    width: 100%;
    align-items: center;
    }

.tittle_description h1 { font-size: 30px; }
.tittle_description p { text-align: center; }

/* Badges Slider Animation */
.badge:nth-child(n+5) { display: flex; }    

.badges {
    /* Dimensions & Layout */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; 
        
    /* Dimensions & Box Model */
    max-height: 200px;
    padding-left: 0;
    gap: 20px;
        
    /* Overflow Control */
    overflow-x: hidden;
    }
@media (max-width: 800px) {.badges { height: 350px; } .tittle_img { flex-direction: column; }}

.badges::-webkit-scrollbar { display: flex; }
.badge {
    /* Dimensions & Layout */
    min-width: 350px;
    flex-shrink: 0;

    /* Animations */
    animation: slide-left 12s linear infinite;
    }

    /* KEYFRAMES */
@keyframes slide-left {
    0%   { transform: translateX(0); }
    100% { transform: translateX(calc(-350px * 4 - 80px)); }
}

/* -- UI PRESENTATION -- */
.app_ui_img {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: center; 
}
.ui_tittle {
    width: 400px;
    font-size: 20px;
}
.app_ui_img :nth-child(1) {
    display: none;
}    
.app_ui_img :nth-child(2) {
    display: block;
    width: 100%;
    object-fit: cover;
    border: 10px solid black;
    border-radius: 30px;
    
}    


}
